<template>
    <header class="header">
        <h1>
            Todo List
        </h1>

    </header>

</template>

<script>
export default{
    name: "HeaderVue"
}

console.log('header js')



</script>

<style scoped>
.header{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.header a {
    color: #fff;
    padding-right: 5px;
}

</style>
