<template>
    <div>
        <form @submit="addToDo">
            <input type="text" v-model="tittle" name="title" placeholder="AddTodo..." class="txt">
            <input type="submit" value="Submit" class="btn">
        </form>

    </div>
</template>

<script>
import {v4 as uuidv4} from 'uuid';
export default {
    name:"AddTodoVue",
    data(){
        return{
            tittle:''
        }
    },
    methods:{
        addToDo(e){
            e.preventDefault();
            const newTodo = {
                id: uuidv4(),
                tittle: this.tittle,
                completed: false,
            }
            this.$emit('add-todo', newTodo);
            this.tittle = '';
        }
    }
}

</script>

<style scoped>
form {
    display: flex;
}

.txt{
    flex: 10;
    padding: 5px;
}

.btn{
    flex: 2;
}

</style>