<template>
    <div>
        <div v-bind:key="todo.id" v-for="todo in todos">
         <TodoItemVue v-bind:todo="todo" v-on:del-todo="$emit('del-todo', todo.id)" />

        </div>
        

    </div>
</template>

<script>

import TodoItemVue from './TodoItem.vue';

console.log('hello');

export default{
    name:'TodoVue',
    components:{
        TodoItemVue
    },
    props: ['todos']
}
</script>

<style scoped>
</style>