<template>
  <div id="app">
   
    <HeaderVue />
    <AddTodoVue v-on:add-todo="addTodo" />
    <TodoVue v-bind:todos="todos" v-on:del-todo="$deleteTodo"/>
                  

  </div>
</template>

<script>
 console.log('hello js');

import TodoVue from './components/Todo.vue';
import HeaderVue from './components/layout/Header.vue';
import AddTodoVue from './components/AddTodo.vue';

export default {
  name: 'app',
  components: {
    AddTodoVue,
    HeaderVue,
    TodoVue
  
  },
  data(){
    return{
      todos: [
        {
          id:1,
          tittle :'Todo One',
          completed: false,
        },
        {
          id:2,
          tittle :'Todo Two',
          completed: false,
        },
        {
          id:3,
          tittle :'Todo Three',
          completed: false,
        },
      ]
    }
  },
  methods: {
    $deleteTodo(id){
      this.todos = this.todos.filter(todo => todo.id !== id);

    },
    addTodo(newTodo){
      this.todos = [...this.todos, newTodo]
    }
  }


 
   
  }
  
</script>

<style>

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

#app{
  color: black;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: #666;
}


</style>
